<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tp.shiro.mapper.UserMapper" >

    <select id="getAllUser" resultType="com.tp.shiro.bean.User">
      SELECT id, username, password, salt, create_time createTime, update_time updateTime FROM user;
    </select>

</mapper>